*{
	// outline: 1px solid red;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Kurale', serif;
	box-sizing: content-box;
}
@import "parciales/portada.scss";
@import "parciales/about.scss";
@import "parciales/skills.scss";
@import "parciales/portafolio.scss";
@import "parciales/contacto.scss";
@import "parciales/footer.scss";
@import "parciales/media-query.scss";
@import "parciales/header.scss";





