/*=============================================
=            Section #6 contacto            =
=============================================*/
#contact-us{
	background-color: #444444;
    height: 200px;
    p{
        position: relative;
        top: 50px;
        padding: 20px;
        color: white;
    }
    .icon-phone, .icon-mail, .icon-location, .icon-check_circle{
        font-size: 80px;
    	color: white;
    	position: relative;
    	top: 50px;
        left: 15px;
    }
    .icon-phone{
        position: relative;
        left: 55px !important;
    } 
    .icon-mail{
        position: relative;
        left: 80px !important;
    }
    .icon-location{
        padding: 10px;
    } 
    .icon-check_circle{
        padding: 0 30px 0 30px;
    }
    #parrafo{
        position: relative;
        left: 30px;
    }
}