/*===============================
=            section #6 - footer  =
===============================*/
#colophon {
    background-color: #080404;
    border-top: 1px solid #111;
    clear: both;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}
