/*===================================
=            los media Query            =
===================================*/
@media ( min-width: 320px) and (max-width: 568px) {

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    padding: 20px;
    height: 95px !important;
    background: rgba(50, 0, 49, 0.5);
    text-align: center;
    font-size: 30px;
}

// SECTION-1-PORTADA
	#section-2-portada{
	    height: 700px !important;
      width: 100% !important;

	  #portada-container {
	    width: 300px !important;
	    position: absolute;
	  }
    .content{
      display: none!important;
    }
  }
// SECTION-3-ABOUT
  #section-3-about {
    height: 600px !important;
    width: 100% !important;
    h1{
    	position: relative !important;
      top: 30px;
    	text-align: center;
    	font-family: 'Kurale', serif;
    }
    p{
    	position: relative !important;
		  bottom: 40%;
	  	text-align: justify;
	  	font-size: 15px !important;
	  	font-family: 'Kurale', serif;
	  }
    .descargar{
    position: relative !important;
    top: -100px;
    left: 50px;
    
  }

	#about-bari{
	  display: none!important;
	}
  }
 //section-4-skills
 #section-4-skills{
 	height: 1000px !important;
 	h1{
 	 position: relative !important;
	 width: 100px;
	 top: 36%;
   left: 28%;
 	}
 	#skills-bari{
	  display: none;
 	}
 }

 //portafolio
#portafolio{
    width: 100% !important;

  h1{
    position: relative;
    right: 55px;
  }
  #portafolio-imagen{
    width: 280px !important;
    position: relative;
    right: 66px;
    h4{
      text-align: center;
    }
  }

}
 //contacto
 #contact-us{
  width: 100%;
 	height: 200px;
  .contacto-icono{
        width: 50px;
    }
 	p{
 		color: white;
    }
  .icon-phone, .icon-mail{
    	font-size: 30px !important;
    	color: white;
    }
    .icon-phone{
      position: relative;
      top: 50px;
      left: 10px;
      // padding: 20px;
    }
    #phono{
      width: 50px;
      height: 10px;
      position: relative;
      top: 50px;
      left: 10px;
      font-size: 12px;
    }
    .icon-mail{
      position: relative;
      bottom: 30px;
      left: 150px;
    }
    #mail{
      position: relative;
      left: 50px;
      height: 9px;
      font-size: 10px;
    }

   }
   .icon-location, .icon-check_circle, #parrafo, #arequipa{
     display: none;
   }
   
}

