body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Kurale', serif;
  box-sizing: content-box; }

hr {
  border: 2px solid white; }

/*===============================
=       section #1 Nav bar            =
===============================*/
.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: transparent !important;
  z-index: 10;
  transition: all 1s ease; }
  .navbar h1 {
    color: white; }

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  padding: 10px;
  font-size: 18px;
  width: 120px; }

/*===============================
=       section #2 portada            =
===============================*/
#section-2-portada {
  background-image: url("../img/student.jpg");
  width: 100%;
  height: 680px;
  min-height: 500px;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover; }
  #section-2-portada #fondo {
    width: 100%;
    background: rgba(91, 0, 49, 0.5); }
  #section-2-portada #portada-container {
    width: 30%;
    height: 200px;
    position: relative;
    top: 35%;
    text-align: center;
    padding: 25px;
    color: pink;
    border-radius: 5%; }

/*===============================
=            section #3-about            =
===============================*/
#section-3-about {
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 700px;
  padding: 15px; }
  #section-3-about #texto {
    height: 400px; }
  #section-3-about h1 {
    position: relative;
    top: 250px; }
  #section-3-about #about-texto {
    position: relative;
    top: 100px; }
  #section-3-about #about-bari {
    position: relative;
    top: 100px; }
  #section-3-about #iconos {
    width: 400px; }
  #section-3-about button {
    position: relative;
    top: 150px;
    left: 190px; }

/*===============================
=            section #4 - skills  =
===============================*/
#section-4-skills {
  color: white;
  background: #BA5370;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F4E2D8, #BA5370);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 700px !important; }
  #section-4-skills .row {
    height: 500px; }
  #section-4-skills h1 {
    position: relative;
    top: 550px; }
  #section-4-skills #skills-bari {
    height: 700px;
    background-image: url(../img/skill-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  #section-4-skills #skill-progress {
    position: relative;
    top: 100px; }

.parallax {
  background-image: url(../img/mari.jpg);
  height: 400px;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(10%);
  filter: contrast(90%); }
  .parallax h2 {
    padding: 20px;
    font-family: 'Calligraffitti', cursive; }

/*===============================
=            section #5 - Portafolio  =
===============================*/
#portafolio {
  background: #DE6262;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFB88C, #DE6262);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 100px;
  height: auto;
  color: black; }
  #portafolio h1 {
    text-align: center;
    color: white; }
  #portafolio img {
    width: 285px;
    height: 200px;
    border: 20px solid white; }

/*=============================================
=            Section #6 contacto            =
=============================================*/
#contact-us {
  background-color: #444444;
  height: 200px; }
  #contact-us h1 {
    padding: 40px;
    text-align: center; }
  #contact-us p {
    position: relative;
    top: 50px;
    width: 70%;
    color: white;
    text-align: center; }
  #contact-us .icon-phone, #contact-us .icon-mail, #contact-us .icon-location, #contact-us .icon-check_circle {
    font-size: 80px;
    color: white;
    position: relative;
    top: 50px;
    left: 80px; }

/*===============================
=            section #6 - footer  =
===============================*/
#colophon {
  background-color: #080404;
  border-top: 1px solid #111;
  clear: both;
  color: #ffffff;
  padding: 15px 0;
  text-align: center; }

/*===================================
=            media Query            =
===================================*/
@media (min-width: 200px) and (max-width: 534px) {
  #section-2-portada {
    height: 1200px !important; }

  #portada-container {
    width: 300px !important;
    position: absolute;
    left: 40px; }

  #section-3-about {
    height: 850px; }
    #section-3-about h1 {
      position: static !important;
      text-align: center;
      font-family: 'Kurale', serif; }
    #section-3-about p {
      position: relative !important;
      bottom: 50px;
      text-align: justify;
      font-size: 15px !important;
      font-family: 'Kurale', serif; }
    #section-3-about #about-bari {
      display: none !important; }

  #section-4-skills {
    height: 1200px !important; }
    #section-4-skills h1 {
      text-align: center;
      position: relative !important;
      width: 100px;
      top: 36%;
      left: 43%; }
    #section-4-skills #skills-bari {
      display: none; }

  #contact-us {
    height: 50%; }
    #contact-us p {
      position: static;
      width: 30% !important; }
    #contact-us .icon-phone, #contact-us .icon-mail, #contact-us .icon-location, #contact-us .icon-check_circle {
      font-size: 40px !important;
      color: white;
      position: static; } }

/*# sourceMappingURL=main.css.map */
