body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Kurale', serif;
  box-sizing: content-box; }

/*===============================
=       section #2 portada            =
===============================*/
#section-2-portada {
  background-image: url("../img/student.jpg");
  width: 100%;
  height: 680px;
  min-height: 500px;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover; }
  #section-2-portada #portada-container {
    background: rgba(91, 0, 49, 0.5);
    width: 45%;
    height: 35%;
    position: relative;
    top: 30%;
    padding: 30px;
    text-align: center; }
    #section-2-portada #portada-container h1 {
      font-size: 60px;
      padding: 20px; }
  #section-2-portada .content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1; }
    #section-2-portada .content__container {
      font-weight: 600;
      overflow: hidden;
      height: 40px;
      padding: 0 40px; }
      #section-2-portada .content__container:before {
        content: '[';
        left: 0; }
      #section-2-portada .content__container:after {
        content: ']';
        position: absolute;
        right: 0; }
      #section-2-portada .content__container:after, #section-2-portada .content__container:before {
        position: absolute;
        top: 0;
        color: #070F0D;
        font-size: 42px;
        line-height: 40px;
        -webkit-animation-name: opacity;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
      #section-2-portada .content__container__text {
        display: inline;
        float: left;
        margin: 0; }
      #section-2-portada .content__container__list {
        margin-top: 0;
        padding-left: 110px;
        text-align: left;
        list-style: none;
        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite; }
        #section-2-portada .content__container__list__item {
          line-height: 40px;
          margin: 0; }
@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%,45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%,62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%,79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%,95.96% {
    transform: translate3d(0, -25%, 0); } }
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-o-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%,45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%,62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%,79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%,95.96% {
    transform: translate3d(0, -25%, 0); } }
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-moz-keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%,45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%,62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%,79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%,95.96% {
    transform: translate3d(0, -25%, 0); } }
@keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes change {
  0%, 12.66%, 100% {
    transform: translate3d(0, 0, 0); }
  16.66%, 29.32% {
    transform: translate3d(0, -25%, 0); }
  33.32%,45.98% {
    transform: translate3d(0, -50%, 0); }
  49.98%,62.64% {
    transform: translate3d(0, -75%, 0); }
  66.64%,79.3% {
    transform: translate3d(0, -50%, 0); }
  83.3%,95.96% {
    transform: translate3d(0, -25%, 0); } }
/*===============================
=            section #3-about            =
===============================*/
#section-3-about {
  background: #d9a7c7;
  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 700px;
  padding: 15px; }
  #section-3-about #texto {
    height: 400px; }
  #section-3-about h1 {
    position: relative;
    top: 300px;
    text-align: center; }
  #section-3-about #about-texto {
    position: relative;
    top: 200px; }
  #section-3-about #about-bari {
    position: relative;
    top: 200px; }
  #section-3-about #iconos {
    width: 400px; }
  #section-3-about .descargar {
    position: relative;
    top: 150px;
    left: 190px;
    padding: 16px 25px 16px 25px;
    margin: 20px 0;
    color: black;
    text-decoration: none; }

/*===============================
=            section #4 - skills  =
===============================*/
#section-4-skills {
  color: white;
  background: #BA5370;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F4E2D8, #BA5370);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 700px !important; }
  #section-4-skills .row {
    height: 500px; }
  #section-4-skills h1 {
    position: relative;
    top: 550px; }
  #section-4-skills #skills-bari {
    height: 700px;
    background-image: url(../img/skill-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  #section-4-skills #skill-progress {
    position: relative;
    top: 100px; }
    #section-4-skills #skill-progress .row .col-xs-6 {
      display: inline-block; }
      #section-4-skills #skill-progress .row .col-xs-6 span {
        position: relative;
        top: 10px; }

.parallax {
  background-image: url(../img/mari.jpg);
  height: 400px;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(10%);
  filter: contrast(90%); }
  .parallax h2 {
    padding: 20px;
    font-family: 'Calligraffitti', cursive; }

/*===============================
=            section #5 - Portafolio  =
===============================*/
#portafolio {
  background: #BA5370;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F4E2D8, #BA5370);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 100px;
  height: auto;
  color: black;
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
  @import url(https://fonts.googleapis.com/css?family=Teko:700); }
  #portafolio h1 {
    text-align: center !important;
    color: white; }
  #portafolio h4 {
    text-align: center !important;
    color: white; }
  #portafolio img {
    width: 285px;
    height: 200px;
    border: 10px solid white; }
  #portafolio .snip1543 {
    background-color: #fff;
    color: #ffffff;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 10px 5px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  #portafolio .snip1543 *,
  #portafolio .snip1543 *:before,
  #portafolio .snip1543 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease; }
  #portafolio .snip1543 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top; }
  #portafolio .snip1543:before,
  #portafolio .snip1543:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #b81212;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease; }
  #portafolio .snip1543:before {
    -webkit-transform: skew(30deg) translateX(-80%);
    transform: skew(30deg) translateX(-80%); }
  #portafolio .snip1543:after {
    -webkit-transform: skew(-30deg) translateX(-70%);
    transform: skew(-30deg) translateX(-70%); }
  #portafolio .snip1543 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 25px 40% 25px 20px; }
  #portafolio .snip1543 figcaption:before,
  #portafolio .snip1543 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b81212;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1; }
  #portafolio .snip1543 figcaption:before {
    -webkit-transform: skew(30deg) translateX(-100%);
    transform: skew(30deg) translateX(-100%); }
  #portafolio .snip1543 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-90%);
    transform: skew(-30deg) translateX(-90%); }
  #portafolio .snip1543 h3,
  #portafolio .snip1543 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px; }
  #portafolio .snip1543 h3 {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase; }
  #portafolio .snip1543 p {
    font-size: 0.9em; }
  #portafolio .snip1543 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }
  #portafolio .snip1543:hover h3,
  #portafolio .snip1543.hover h3,
  #portafolio .snip1543:hover p,
  #portafolio .snip1543.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  #portafolio .snip1543:hover:before,
  #portafolio .snip1543.hover:before {
    -webkit-transform: skew(30deg) translateX(-20%);
    transform: skew(30deg) translateX(-20%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  #portafolio .snip1543:hover:after,
  #portafolio .snip1543.hover:after {
    -webkit-transform: skew(-30deg) translateX(-10%);
    transform: skew(-30deg) translateX(-10%); }
  #portafolio .snip1543:hover figcaption:before,
  #portafolio .snip1543.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(-40%);
    transform: skew(30deg) translateX(-40%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s; }
  #portafolio .snip1543:hover figcaption:after,
  #portafolio .snip1543.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(-30%);
    transform: skew(-30deg) translateX(-30%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }

/*=============================================
=            Section #6 contacto            =
=============================================*/
#contact-us {
  background-color: #444444;
  height: 200px; }
  #contact-us p {
    position: relative;
    top: 50px;
    padding: 20px;
    color: white; }
  #contact-us .icon-phone, #contact-us .icon-mail, #contact-us .icon-location, #contact-us .icon-check_circle {
    font-size: 80px;
    color: white;
    position: relative;
    top: 50px;
    left: 15px; }
  #contact-us .icon-phone {
    position: relative;
    left: 55px !important; }
  #contact-us .icon-mail {
    position: relative;
    left: 80px !important; }
  #contact-us .icon-location {
    padding: 10px; }
  #contact-us .icon-check_circle {
    padding: 0 30px 0 30px; }
  #contact-us #parrafo {
    position: relative;
    left: 30px; }

/*===============================
=            section #6 - footer  =
===============================*/
#colophon {
  background-color: #080404;
  border-top: 1px solid #111;
  clear: both;
  color: #ffffff;
  padding: 15px 0;
  text-align: center; }

/*===================================
=            los media Query            =
===================================*/
@media (min-width: 320px) and (max-width: 568px) {
  .navbar-light .navbar-nav .nav-link {
    color: white !important;
    padding: 20px;
    height: 95px !important;
    background: rgba(50, 0, 49, 0.5);
    text-align: center;
    font-size: 30px; }

  #section-2-portada {
    height: 700px !important;
    width: 100% !important; }
    #section-2-portada #portada-container {
      width: 300px !important;
      position: absolute; }
    #section-2-portada .content {
      display: none !important; }

  #section-3-about {
    height: 600px !important;
    width: 100% !important; }
    #section-3-about h1 {
      position: relative !important;
      top: 30px;
      text-align: center;
      font-family: 'Kurale', serif; }
    #section-3-about p {
      position: relative !important;
      bottom: 40%;
      text-align: justify;
      font-size: 15px !important;
      font-family: 'Kurale', serif; }
    #section-3-about .descargar {
      position: relative !important;
      top: -100px;
      left: 50px; }
    #section-3-about #about-bari {
      display: none !important; }

  #section-4-skills {
    height: 1000px !important; }
    #section-4-skills h1 {
      position: relative !important;
      width: 100px;
      top: 36%;
      left: 28%; }
    #section-4-skills #skills-bari {
      display: none; }

  #portafolio {
    width: 100% !important; }
    #portafolio h1 {
      position: relative;
      right: 55px; }
    #portafolio #portafolio-imagen {
      width: 280px !important;
      position: relative;
      right: 66px; }
      #portafolio #portafolio-imagen h4 {
        text-align: center; }

  #contact-us {
    width: 100%;
    height: 200px; }
    #contact-us .contacto-icono {
      width: 50px; }
    #contact-us p {
      color: white; }
    #contact-us .icon-phone, #contact-us .icon-mail {
      font-size: 30px !important;
      color: white; }
    #contact-us .icon-phone {
      position: relative;
      top: 50px;
      left: 10px; }
    #contact-us #phono {
      width: 50px;
      height: 10px;
      position: relative;
      top: 50px;
      left: 10px;
      font-size: 12px; }
    #contact-us .icon-mail {
      position: relative;
      bottom: 30px;
      left: 150px; }
    #contact-us #mail {
      position: relative;
      left: 50px;
      height: 9px;
      font-size: 10px; }

  .icon-location, .icon-check_circle, #parrafo, #arequipa {
    display: none; } }
/*===============================
=       section #1 HEADER       =
===============================*/
.navbar {
  height: 60px;
  background: #D9A7C7 !important;
  transition: all 1s ease; }

.navbar-light .navbar-nav .nav-link {
  color: white !important;
  padding: 20px; }

/*# sourceMappingURL=main.css.map */
